<div class="row">
    <div class="col-md-6 col-12 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            {{ name }}
                        </div>
                        <div class="mb-0 font-weight-bold text-gray-800">
                            {{ content | raw }}
                            {% if file is defined %}
                                <ul>
                                    {% for item in file %}
                                        <li>
                                            <a target="_blank" href="/assets/img/chat/{{ item }}">{{ item }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>