<div class="d-flex justify-content-center align-items-center p-3 border border-bottom js-item-conversation shadow-sm rounded-pill my-3" data-conversation-id="{{conversation.id}}">
    {{ conversation.pacient.nume }}
</div>
